pnpm.onlyBuiltDependencies[]=@nestjs/core
pnpm.onlyBuiltDependencies[]=@swc/core
pnpm.onlyBuiltDependencies[]=bcrypt
pnpm.onlyBuiltDependencies[]=protobufjs
pnpm.onlyBuiltDependencies[]=@firebase/util
pnpm.onlyBuiltDependencies[]=@scarf/scarf